.wrapper{
    width: 25%;
    height: 50%;
    margin: 10px;
    align-items: flex-start;
    padding: 10px 20px; 
    border-radius: 4px;
    background-color: #fff;
    h1{
        font-weight: 600;
        margin: 0;
        font-size: 16px;
        text-align: center;
    }
}
.genre-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div{
        min-width: 90px;
        display: flex;
        align-items: center;
        margin: 2px 0;
    }
    p{
        font-family: system-ui;
        font-weight: 600;
        margin: 16px;
    }
}

