.wrapper{
    width: calc(100% - 20px);
    margin: 0 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.page_btn{
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.active{
    background-color: #0D6EFD;
    color: #fff;
}