.wrapper{
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.04)
    }
}
.img-book{
    width: 55px;
    height: 65px;
    object-fit: cover;
}
.info{
    flex: 1;
    margin-left: 12px;
}
.name{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}
.author{
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5)
}