.wrapper{
    background-color: #EBEBEB;
}
.tabs-content-wrap{
    color: #666666;
    margin: 10px 5px;
    h2{
        padding-left: 5px;
        padding-bottom: 10px;
        color: #777777;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
    hr{
        margin: 5px;
    }
    span{
        font-size: 14px;
    font-weight: 600;
    padding: 15px;
    }
    table{
        border-collapse: collapse;
        color: #212529;
        width: 100%;
    }
    thead{
        background-color: #bdb7b7;
        border-radius: 5px;
    }
    thead tr th{
        padding: 10px;
    }
    tbody tr {
        text-align: center;
        border-bottom: 1px solid #a3a1a1;
    }
}
.tbody-book-name{
    display: flex;
    margin-left: 15px;
}
.item-thumb{
    width: 35%;
    img{
        border-radius: 20px;
        width: 70%;
        padding-top: 10px;
        padding-bottom: 15px;
        :hover{
            transform: scale(1.02);
            transition: all ease 0.8s;
        }
    }
}
.thead-name{
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.thead-post-on{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.item-info{
    padding: 20px;
    h3,p{
        padding: 5px;
        margin-bottom: 0;
    }
    button{
        width: 44%;
        margin: 5px;
    }
}
.post-on{
    right: -40px;
    display: flex;
    position: relative;
    top: -70px;
    h4{
        padding-right: 5px;
    }
}
