.wrapper{
    background-color: rgba(17, 17, 17, 0.0666666667);
    margin: 10px;
    h1{
        display: flex;
        justify-content: center;
    }
}
.pagination{
    display: flex;
    justify-content: center;
}